<!DOCTYPE html>
<html>
<head>
  <title><%= DealRedemptions.config.site_name %> | <%= yield(:title).blank? ? "Administration Panel" : yield(:title) %></title>
  <%= stylesheet_link_tag    "deal_redemptions/application", media: "all" %>
  <%= stylesheet_link_tag    "deal_redemptions/admin", media: "all" %>
  <%= javascript_include_tag "deal_redemptions/application" %>
  <%= javascript_include_tag "deal_redemptions/admin" %>
  <%= csrf_meta_tags %>
</head>
<body <%= current_page?(admin_login_path) ? 'class=login' : '' %>>

<%= render '/deal_redemptions/admin/shared/topbar' %>

<%= render '/deal_redemptions/admin/shared/sidebar' %>

<section class="content-wrapper">
  <% if flash.any? %>
    <div class="alert alert-<%= flash[:notice] ? 'success' : 'danger' %>">
      <ul>
        <% flash.each do |name, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield %>
</section>

</body>
</html>
