- page_title 'Redemption Codes'
- admin_page_title '<i class="redemptions"></i> Redemption Codes'.html_safe

%hr
  .row.clearfix
    .col-md-4
      = form_tag '', method: 'get', class: 'search-redemptions pull-right' do
        .col-md-8.padding-right-5
          .form-group
            = search_field_tag '', '', name: 'search', class: 'form-control', placeholder: 'Search by code:'
        .col-md-4.padding-left-5
          .form-group
            = button_tag 'Search', name: nil, class: 'btn btn-primary'
    .col-md-8
%hr

- if @admin_redeem_codes.empty?

  .no-current-redemptions
    %i.redemptions.clearfix
    No redemption codes were found

- else
  .row
    .col-md-12
      = link_to 'New Code', new_admin_redeem_code_path, class: 'btn btn-primary pull-right'
  %hr

  %table{id: 'redemptions', class: 'table default'}
    %thead
      %tr
        %td
          Code
        %td
          Company:
        %td
          Status:
        %td
          Created:
    %tbody
    - @admin_redeem_codes.each do |code|
      %tr
        %td
          = link_to "#{code.code}", edit_admin_redeem_code_path(code.id)
        %td
          = code.company.name
        %td
          = code.status
        %td
          = code.created_at

    = paginate @admin_redeem_codes