- page_title "#{@product.name}"
- admin_page_title "<i class=\"products\"></i> #{link_to 'Products', admin_products_path} / #{@product.name}".html_safe

.row
  .col-md-4
    %h3 Edit existing product
    Make modifications to an existing product.
    %hr

    %h4 Want to remove this product?
    %h5 Click the button below. You can <strong>NOT</strong> undo this action.

    = button_to 'Delete Product', admin_product_path, method: :delete, class: 'btn btn-danger', onclick: 'if(!confirm("Are you sure you want to delete this product?")) return false;'
    %hr


  .col-md-8
    = render 'form'
