-# New user modal
.modal.fade{id: 'newUserModal', tabindex: '-1', role: 'dialog', aria: {labelledby: 'newUserModalLabel', hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}} &times;
          %span{class: 'sr-only'} Close

        %h4{class: 'modal-title', id: 'newUserModalLabel'} New Staff User

      = form_tag '', id: 'newUserForm' do
        .modal-body
          .row
            .col-md-6
              .form-group
                = label_tag :first_name, 'First Name:', class: 'control-label'
                = text_field_tag :first_name, '', class: 'form-control', required: 'required'
            .col-md-6
              .form-group
                = label_tag :last_name, 'Last Name:', class: 'control-label'
                = text_field_tag :last_name, '', class: 'form-control', required: 'required'
            .col-md-12
              .form-group
                = label_tag :email, 'Email Address:', class: 'control-label'
                = email_field_tag :email, '', class: 'form-control', required: 'required'

        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}} Cancel
          %button{type: 'submit', class: 'btn btn-primary'} Add user