-# New user modal
.modal.fade{id: 'newUserModal', tabindex: '-1', role: 'dialog', aria: {labelledby: 'newUserModalLabel', hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: 'button', class: 'close', data: {dismiss: 'modal'}}
          %span{aria: {hidden: true}} &times;
          %span{class: 'sr-only'} Close

        %h4{class: 'modal-title', id: 'newUserModalLabel'} New Staff User

      = form_for [:admin, @new_user], url: admin_user_index_path do |f|
        .modal-body
          .row
            .col-md-6
              .form-group
                = f.label :first_name, 'First Name:', class: 'control-label'
                = f.text_field :first_name, class: 'form-control', required: 'required'
            .col-md-6
              .form-group
                = f.label :last_name, 'Last Name:', class: 'control-label'
                = f.text_field :last_name, class: 'form-control', required: 'required'
            .col-md-12
              .form-group
                = f.label :email, 'Email Address:', class: 'control-label'
                = f.email_field :email, class: 'form-control', required: 'required'
            .col-md-6
              .form-group
                = f.label :password
                = f.password_field :password, class: 'form-control', required: 'required'
            .col-md-6
              .form-group
                = f.label :password_confirmation
                = f.password_field :password_confirmation, class: 'form-control', required: 'required'

        .modal-footer
          %button{type: 'button', class: 'btn btn-default', data: {dismiss: 'modal'}} Cancel
          = f.submit 'Add User', name: nil, class: 'btn btn-primary'