- page_title 'Redemptions'
- admin_page_title '<i class="redemptions"></i> Redemptions'.html_safe

%hr

.row.clearfix
  .col-md-4
    = form_tag '', method: 'get', class: 'search-redemptions pull-right' do
      .col-md-8.padding-right-5
        .form-group
          = search_field_tag '', '', name: 'search', class: 'form-control', placeholder: 'Search by name:'
      .col-md-4.padding-left-5
        .form-group
          = button_tag 'Search', name: nil, class: 'btn btn-primary'
  .col-md-8

%hr

- if @redemptions.empty?

  .no-current-redemptions
    %i.redemptions.clearfix
    No redemptions were found

- else

  %table{id: 'redemptions', class: 'table default'}
    %thead
      %tr
        %td
          id
        %td
          Name:
        %td
          Email:
        %td
          Company:
        %td
          Redeemed Date:
    %tbody
    - @redemptions.each do |redemption|
      %tr
        %td
          = link_to "##{redemption.id}", admin_redemption_path(redemption.id)
        %td
          = link_to "#{redemption.first_name} #{redemption.last_name}", admin_redemption_path(redemption.id)
        %td
          = redemption.email_address
        %td
          = redemption.company.name
        %td
          = redemption.created_at.strftime "%m-%d-%Y"

  = paginate @redemptions