- page_title 'Redemptions'
- admin_page_title '<i class="redemptions"></i> Redemptions'.html_safe

= render '/deal_redemptions/admin/shared/flash'

%hr

%table{class: 'table default'}
  %thead
    %tr
      %td
        id
      %td
        Name:
      %td
        Email:
      %td
        Company:
      %td
        Redeem Count:
      %td
        Redeemed Date:
  %tbody
  - @redemptions.each do |redemption|
    %tr
      %td
        = link_to "##{redemption.id}", admin_redemption_path(redemption.id)
      %td
        = link_to "#{redemption.first_name} #{redemption.last_name}", admin_redemption_path(redemption.id)
      %td
        = redemption.email_address
      %td
        = redemption.company.name
      %td
        = redemption.redeem_code.count
      %td
        = redemption.created_at.strftime "%m-%d-%Y"

%ul{class: 'pagination'}
  %li= link_to '&laquo;'.html_safe, '#'
  %li= link_to '&raquo;'.html_safe, '#'