<!DOCTYPE html>
<html>
<head>
  <title><%= DealRedemptions.config.site_name %></title>
  <%= stylesheet_link_tag "deal_redemptions/application", media: "all" %>
  <%= stylesheet_link_tag DealRedemptions.config.stylesheet, media: "all" unless DealRedemptions.config.stylesheet.nil? %>
  <%= javascript_include_tag "deal_redemptions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
